ol li {
  list-style: none;
  margin-top: 20px;
}

ol {
  counter-reset: plusone;
  
}

ol li::before {
    counter-increment: plusone;

content:  counter(plusone);
    background-color: #fc4364;
  padding: 1px 7px;
  color: white;
  border-radius: 12px;
  margin: 10px;
  font-size: 20px;
 }
